.main {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 13vh;
}

.content_name {
  text-align: right;
  margin-top: 0.2em;
}

.content_name > h2,
.content_name > h4 {
  color: black;
  line-height: 0px;
}
.content_name > h2 {
  line-height: 20px;
  color: #233d7b;
}

.content_info {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 12vh 0;
  text-align: right;
}

.content_info p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  min-width: 240px;
  color: black;
}

.content_info_address {
  margin-bottom: 10px;
  color: white;
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .logo {
    text-align: center;
  }
  .content_name {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
  .content_info {
    text-align: center;
  }
}
