.main {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Quicksand, "Helvetica Neue", sans-serif';
  pointer-events: none;
}

.heroContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroContent h1 {
  font-size: 3em;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.heroDetail {
  align-self: flex-end;
}
.heroDetail p {
  font-size: 1.2em;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.btn {
  color: rgb(145, 105, 105);
  font-size: 1.2em;
  pointer-events: initial;
  text-decoration: none;
  box-sizing: border-box;
}

.btn:hover {
  color: rgb(146, 59, 59);
  font-size: 1.4em;
  font-weight: bold;
}
