.header {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - calc(2 * var(--sideMargins)));
  height: 20vh;
  z-index: 3;
}

.navLinks {
  display: block;
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  font-size: 1.5em;
  font-weight: bold;
  color: #233d7b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.navLinks li a:hover {
  color: #0088a9;
}

@media screen and (min-width: 600px) {
  .info {
    padding-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .navLinks {
    display: none;
  }
}
